footer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #1c2129;
  color: white;
  padding: 20px;
  text-align: center;
}

.social-icons {
  display: flex;
}

.icon {
  color: white;
  font-size: 32px; 
  margin-right: 20px; 
  transition: transform 0.2s ease;
}

.icon:hover {
  transform: scale(1.1); 
}
