header {
  background-color: #1c2129;
  color: #70747a;
  text-align: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 85%;
  margin: 0 auto;
}

.logo img {
  max-width: 200px;
  max-height: 100px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #70747a;
  text-decoration: none;
  transition: color 0.5s;
}

nav ul li a:hover {
  color: white;
}

@media (max-width: 598px) {
  .header-content {
    flex-direction: column; 
    align-items: center; 
  }

  .logo img {
    max-width: 150px; 
  }

  nav ul li {
    margin-bottom: 15px;
  }
}

