header {
  background-color: #1c2129;
  color: #70747a;
  text-align: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 85%; 
  margin: 0 auto; 
}

.logo img {
  max-width: 200px;
  max-height: 100px; 
  width: 100%; 
  height: auto; 
  object-fit: contain; 
}


.logo p {
  font-size: 32px;
  font-weight: bold;
  color: white; 
  letter-spacing: 1px;
}

.hub {
  background-color: orange;
  padding: 0 2px;
  margin-left: 2px;
  color: black;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #70747a;
  text-decoration: none;
  transition: color 0.5s; 
}

nav ul li a:hover {
  color: white; 
}
