.car {
    display: flex;
}

img {
    align-items: left;
    width: 40vw;
    height: auto;
    padding-top: 50px;
    margin-left: 50px;
}

.car-data {
    width: 50%;
    align-items: right;
    text-align: left;
    padding-left: 50px;
}

.paragraph-car {
    width: 70%;
    text-align: left;
    margin-left: 50px;
    font-size: 25px;
}

button {
    margin: 30px;
}